{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <img style="heigth:1.5em;" src="https://i.imgflip.com/muswe.jpg">
    <h1>{{'Error.e403'|trans}}</h1>
{% endblock %}
