{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <img style="heigth:1.5em;" src="https://media.makeameme.org/created/THEN-YOU-ARE-04beal.jpg">
    <h1>{{'Error.e404'|trans}}</h1>
{% endblock %}
